html{
    min-width: 400px;
}
a {
    color: #000000;
}

.container {
    max-width: 100vw;
}

.navbar {
    width: 100%;
}
.navbar-brand{
    font-weight: 800;
}
.nav-right {
    display: inline;
}
.nav-item{
    font-weight: 800;
}
.d-md-table-cell{
    display: table-cell;
}
/*cart mouse over*/

.cart-button {
    position: relative;
    display: inline-block;
}

.cart-dropdown {
    display: none !important;
    font-size: 0.85rem;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
.cart-dropdown img{
    width: 30px;
}
.cart-button:hover .cart-button:active .cart-dropdown {
    display: block;
}

.table td, .table th{
    vertical-align: middle;
}
td{
    white-space: nowrap;
}
td img{
    height: 35px;
}
.trash-icon{
    color: red;
}
.trash-icon:hover{
    color: red;
    border: 1px solid red;
}
/*end cart mouse over*/
/* main search results */
#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 2000;
}

#myUL li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}


/* end main search results */
.hero-images > div:first-child{
    background-image: url("../image/muscleMan.jpeg");
    background-size: cover;
}
.hero-images h1{
    font-family: "Roboto";
    color: rgba(255,255,255,0.8);
    font-weight: 600;
    padding: 1.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.4;
    border-radius: 1rem;
    background-color: rgba(0,0,0,.125);
}
.hero-image-1 {
    z-index: 10;
    padding-left: 0;
}

.hero-image-1 img {
    width: 140%;
}

.hero-image-text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-76%, -35%);
    color: white;
}

.hero-image-2 {
    z-index: 5;
}

.hero-image-button {
    display: block;
    margin-top: 3rem;
}

.hero-image-text1 {
    margin-left: 1rem;
    display: block;
    margin-bottom: 1rem;
}

.hero-image-text2 {
    margin-left: 2rem;
    display: block;
    margin-bottom: 1rem;
}

.hero-image-text3 {
    margin-left: 3rem;
}

.hero-image-button {
    display: flex;
    justify-content: center;
}

.hero-image-button a {
    color: #ffffff;
    font-size: 1rem;
}

.carousel {
    width: 75%;
    margin: 0 auto;
}

.carousel-item {
    max-height: 380px;
}

.carousel-item img {
    width: auto;
    height: 300px;
    max-height: 300px;
    object-fit: contain;
}


.carousel-caption {
    background-color: transparent;
    width: 20%;
    transform: translate(192%, -341%);
    right: 13%;
    top: 86px;
    left: 24%;
    z-index: 10;
}

.products {
    position: relative;
}

.products-container {
    display: flex;
}

.products-container-items {
    max-width: 114rem;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.products-container-items::after {
    content: "";
    display: table;
    clear: both;
}

.products-container-items.col-1-of-3 {
    width: calc((100% - 12rem) / 3);
}

.item {
    background-color: #FF851B0D;
    min-width: 18rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 22rem;
}

.item-header {
    padding: 1rem;
    background-color: #285E46;
    color: white;
    display: flex;
    justify-content: space-around;
}

.item-image {
    display: flex;
    height: 10rem;
    flex-grow: 1;
    margin-bottom: 0.45rem;
}

.item-image img {
    max-width: 40%;
    margin: 0 auto;
}

.item-infoContainer {
    margin-top: auto;
    padding: 0 0.5rem;
}

.item-info {
    font-size: 0.7rem;
}

.fas.fa-angle-right {
    color: #000000;
    font-size: 3rem;
}

.fas.fa-angle-left {
    color: #000000;
    font-size: 3rem;
}

.fa-star {
    color: gold;
}

.item-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.25rem;
}



.buyNowButton:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.fa-cart-plus {
    font-size: 1.75rem;
}

.rating {
    padding-right: 0;
}

.item-buyNow {
    padding: 0;
}


.item-header-lookup {
    padding: 1rem;
}


.item-lookup-link {
    text-decoration: underline;
}

.item-lookup-link:hover {
    text-decoration: none;
}

.item-lookup-button-Container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.item-lookup-button {
    background-color: #000000;
    padding: 0.5rem 1.75rem;
    border-radius: 0.25rem;
    margin: auto;
}


/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .lookup-container {
        position: absolute;
        top: 0;
    }

    .item-body-lookup {
        display: flex;
        justify-content: space-around;
    }

    .products-container {
        margin-top: 5rem;
    }
    .d-md-table-cell{
        display: none;
    }
}

.app-container {
    background-image: linear-gradient(to right bottom, rgba(46, 49, 49, 0.8), rgba(50, 69, 69, 0.8)), url(../image/bodyfit2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}


.app-container-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container-text-block {
    display: flex;
    flex-flow: column;
    text-align: center;
    display: flex;
}

.app-container-text-block p {
    font-size: 3rem;
    color: white;
}

.app-container-text-block p a {
    /* background-color: #000000; */
    padding: 0.5rem 1.75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #ffffff;
}

.app-container-text-block p span {
    display: block;
}

.programms-header {
    display: flex;
    justify-content: center;
}

.programms-header h5 {
    padding: 2rem;
}

.programm {
    border: 1px solid black;
    font-size: 1rem;
}

.blog-container {
    margin-bottom: 3rem;
}


/* styles for contact info  */

.contact {
    display: flex;
    justify-content: center;
}

.contact-item {
    width: 12rem;
    height: 6rem;
    background-color: #f2f2f2;
}

.contact-money-back {}

.money-back-header {
    display: flex;
    padding: 1rem 1rem 0 1rem;
    justify-content: space-around;
}

.money-back-header i {
    font-size: 2rem;
}

.money-back-header span {
    margin-left: 1rem;
}

.money-back-body {
    position: relative;
    left: 38%;
}

.contact-military {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-support {
    display: flex;
    flex-flow: row;
    padding: 1rem;
}

.phone-icon {
    width: 40%;
    font-size: 2rem;
    /* border-right: 1px solid black; */
    padding-right: 0.5rem;
}

.phone-number-container {
    margin-left: 1rem;
}

.information {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.need-help p {
    margin: 0;
}

.orders p {
    margin: 0;
}

.social-media {
    font-size: 2rem;
}

.connect p {
    display: flex;
    justify-content: space-evenly;
}


/* media queries */

@media (max-width: 768px) {
    .lookup-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .item-body-lookup p:last-child {
        display: none;
    }

    .input-search {
        display: none;
    }

    .app-container-right {
        display: block;
    }

    .programm {
        margin-bottom: 1rem;
    }

    .contact-item {
        margin-bottom: 1rem;
    }

    .information {
        flex-flow: column;
    }
}




@media (max-width: 992px) {
    .nav-right {
        display: block;
    }
}

/* cart mouse over*/
.cart-button {
    display: inline-block;
}

.cart-dropdown {
    /* display: none; */
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    width: fit-content;
    width: -moz-fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1000;

}

.cart-button:hover .cart-dropdown {
    display: block !important;
}

/*end cart mouse over */
.productImage {
    text-align: center;
    height: 161px;
}

.productImage img {
    width: 100px;
    height: 100%;
}

.card-text {
    font-size: 0.7rem;
}

.frequentItem img {
    max-width: 150px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
    .frequentItem.first img {
        max-width: 200px;
    }
}

@media (max-width: 767.98px) {
    .frequentItem.first img {
        max-width: 150px;
    }
}

#alert {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 40%;
}

/* PRICE TAG */
.starburst {
    font: 1.5em/1.2 'Lobster', georgia, serif;
    background: rgba(255,0,0,0.4);
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

.starburst,
.starburst span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.starburst span {
    width: 100%;
    height: 100%;
    background: inherit;
    transform: rotate(45deg);
}

.starburst:before,
.starburst:after,
.starburst span:before,
.starburst span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    transform: rotate(30deg);
}

.starburst:after {
    transform: rotate(-30deg);
}

.starburst span:after {
    transform: rotate(30deg);
}

.starburst span:before {
    transform: rotate(-30deg);
}

.example {
    position: absolute;
    bottom: 0;
    margin-top: 1.75em;
    margin-left: -0.25em;
}

#example-1 {
    left: 25%;
}

#example-2 {
    left: 75%;
    transform: rotate(-45deg);
}


/* END PRICE TAG */ 

/* FILTER MENU */
.filter-menu{
    margin-bottom: 1rem;
}
.filter-menu a:hover{
    text-decoration:none;
}
.filter-menu a.active{
    background-color:rgba(0,0,0,.125);
    color: black;
    position: relative;
}
.filter-menu a.active::after{
    content: "\00d7";
    position: absolute;
    right: 10px;
    color: red;
    font-size: 2rem;
    line-height: 22px;

}

/* END FILTER MENU */

/* PRODUCT CARD */
#prods{
display: flex;
justify-content: center;
}
.item-container{
    min-width: 319px;
    max-width: 329px;
}
.card{
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
}
.card:hover{
    box-shadow: 0 4px 3px rgb(0 0 0 / 20%);
}
.card-title{
    text-align: center;
    color: #747d89;
}
.card-title a{
    color: #747d89;
    text-decoration: none;
    transition: color 300ms linear, color 1s linear;
}
.card:hover a{
    color: #000;
    text-decoration: none;
    transition: color 300ms linear, color 1s linear;
}
.price{
    text-align: center;
    color: #747d89;
    font-weight: 700;
}
.price span{
    font-weight: 300;
}
.review-stars{
    display: flex;
    justify-content: center;
    max-height: 16px;
}
.review-stars:hover > .fa-star {
    font-weight: 900;
}
.review-stars > .fa-star:hover ~ .fa-star{
    font-weight: 400;
}
.fas,.far{
    cursor: pointer;
    margin: 0 0.1rem;
}
.empty-star{
    font-weight: 400;
}
.full-star{
    font-weight: 900;
}
/* END PRODUCT CARD */
/* ------------------------- */
/* BEGINNING FITNESS PROGRAM */
.fitness-card-link{
    text-decoration: none!important;
    
}
.fitness-program{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.fitness-program>.card-body-fitness{
    background-color: rgba(0,0,0,0.44);
    transition: all 0.3s ease-in;
    align-items: stretch;
}
.fitness-program>.card-body-fitness > *{
    color:#747d89;
}
.card-body-fitness h5{
    font-size: 0.8rem;
}
.fitness-card-link:hover .fitness-program>.card-body-fitness{
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: baseline;
    padding:1rem;
}
.fitness-card-link:hover .fitness-program>.card-body-fitness > *{
    color:#747d89;
}
.fitness-program.yoga{
    background-image: url(../image/yoga.png);
}
.fitness-program.bodybuilder{
    background-image: url(../image/bodybuilder.jpg);
}

/* END FITNESS PROGRAM */